# top-most EditorConfig file
root = true
# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
# Tab indentation
indent_style = tab
# Space indented formats
[*.{json,yml,sh,md}]
indent_style = space
indent_size = 2
